<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,user-scalable=no" name="viewport">
<title>资源详情</title>
<link href="__PUBLIC__/page/css/common.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/page/css/resList.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/page/js/jquery.js"></script>
</head>
<!--去掉y_comment是有评论的背景-->
<body class="hsBody y_comment">

<div class="resOneCon">
    
    <div class="resCon">
        <div class="resName">烧烤时代户外烧烤</div>
        <p class="resDesc">想去户外烧烤，没烤炉、没木炭、没工具、不愿切肉、不会穿串，怎么办？烧烤时代为您提供户外烧烤一站式服务，烤炉木炭，调料工具，腌好穿完的半成品肉串应有尽有。
​烧烤时代私人订制，我们只做专业的烧烤！承接;聚会，大中小型烧烤宴会，任何时间，任何地点，跟随你的脚步一起享受户外的烧烤乐趣！想了解更多户外烧烤信息请点击关注我们的微信公众平台 。

爽风吹来，被束缚了一个冬天的四肢终于有了舒展的机会。“关上”办公室里一年四季不变的景色，“不看”街头巷尾的酒肆茶楼，抛开居家过日子的“正规”餐桌，一辆越野车，呼朋唤友，轻装便履，素面朝天！将木炭点得红红火火，再亲自动手刷酱，听着烤架上肉串嗞嗞作响，喝着啤酒讲着笑话，那滋味？嘿！舒服！惬意！ 
乐户外、考美味、享生活！</p>
        <div class="resBottom"><span>2评论</span><span>0浏览</span></div>
        <!-- <ul class="resGroupImg"><li><img src="__PUBLIC__/page/images/resList/resImg.png"/></li><li><img src="__PUBLIC__/page/images/resList/resImg.png"/></li><li><img src="__PUBLIC__/page/images/resList/resImg.png"/></li></ul> -->
    </div>
</div>
<div class="emptyLine"></div>
<div class="commentOutter">
<!--没有内容情况-->
    <div class="n_commentCon">
        <div class="tip"><span>暂无评论快来抢沙发~</span></div>
        <img width="215px" height="auto" src="__PUBLIC__/page/images/resList/detailImg.png"/>
    </div>
</div>
<!-- <div class="commentBottom">
<a class="backBtn" href="{:U('index')}#s4"></a>
    <div class="inputOutter"><input placeholder="说点什么吧~"/></div>
</div> -->
</body>
</html>
