<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,user-scalable=no" name="viewport">
<title>资源详情</title>
<link href="__PUBLIC__/page/css/common.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/page/css/resList.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/page/js/jquery.js"></script>
</head>
<!--去掉y_comment是有评论的背景-->
<body class="hsBody y_comment">
<div class="resOneCon">
    <div class="resCon">
        <div class="resName">寻求餐厅合同管理</div>
        <p class="resDesc">本人在西直门有家餐厅，主题供货价撒地方带你飞阿萨德飞呢阿萨德能爱点酸奶粉看的份。</p>
        <div class="resBottom"><span>2评论</span><span>0浏览</span></div>
    </div>
</div>
<div class="emptyLine"></div>
<div class="commentOutter">
<!--有内容情况-->
    <div class="y_commentCon">
        <div class="commentCon">
            <ul>
                <li>
                    <div class="resOneCon">
                        <img class="pHead" src="__PUBLIC__/page/images/resList/head.png"/>
                        <div class="resCon others">
                            <h3 class="pName">火星网页</h3>
                            <div class="editOutter">4月14日 00:13</div>
                            <p class="resDesc">本人在西直门有家餐厅，主题供货价撒地方带你飞阿萨德飞呢阿萨德能爱点酸奶粉看的份。</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- <div class="commentBottom">
<a class="backBtn" href="{:U('index')}"></a>
    <div class="inputOutter"><input placeholder="说点什么吧~"/></div>
</div> -->
</body>
</html>
