@charset "utf-8";
/* 全局样式 */
*, *:before, *:after {box-sizing: border-box;}
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size:14px;font-weight:normal}
i,em{ font-style: normal!important; }
body>div, form>div,body>section {margin:0 auto}
div {text-align:left}
a img {border:0}
table{border-collapse:collapse; border-spacing:0}
select,input,textarea{ outline: none }
body { color: #555; font: 12px Arial,"微软雅黑"; min-width: 320px; /*max-width: 820px;*/ margin: 0 auto }
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#555;text-decoration:none}
/*a:hover { color: #CC0000;}*/
a, area {blr:expression(this.onFocus=this.blur())}
:focus {-moz-outline-style: none}
.clear {clear:both;height:0; overflow:hidden; visibility:hidden;}
.hidden,.hide {display:none}
.block,.show {display:block}
.fl{float:left}
.fr{float:right}
.fline{float:left; display:inline}
.clearfix:after{clear:both;content:".";height:0;display:block;visibility:hidden}
.chgBtn{cursor:pointer}
.fwr{font-family:"微软雅黑"}
.far{font-family:Arial}
.fb{font-weight:bold}
.fn{font-weight: normal}
.auto{margin-left:auto!important; margin-right:auto!important}
.cor_red{color:#ff0000}
.cor_org{color:#FF4400;}
.cor_bs,.cor_bs:hover{color:#fff}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
